* {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
}

body {
    background-color: #222;
    height: 100dvh;
    width: 100dvw;
}

::-webkit-scrollbar {
    display: none;
}

#pos {
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: "Press Start 2P";
    font-size: x-large;
}

hr {
    width: 80rem;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto 0;
}

#levels {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    height: 500px;
}

#levels>div {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: 70px;
}


.c {
    height: 20px;
    width: 95px;
    border: 15px solid #CA1319;
    background-color: #CA1319;
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    margin-top: 40px;
    transition: all 0.3s ease;
}

.c:hover {
    background-color: #CA1319;
    border-color: #CA1319;
    color: #000000;
    transform: scale(1.1);
}

.section1 {
    display: flex;
    width: auto;
    margin-right: 100px;
}

.section2 {
    display: flex;
    margin-left: -250px;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    width: 100px;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 12px;
}